pkgbase = networkmanager-ms-sso-git
	pkgdesc = NetworkManager VPN plugin for MS SSO OpenConnect
	pkgver = 2.0.0.r7.g791a6ab
	pkgrel = 1
	url = https://github.com/FHNW-Security-Lab/gnome-sso-vpn-plugin
	install = networkmanager-ms-sso-git.install
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = git
	makedepends = meson
	makedepends = ninja
	makedepends = pkgconf
	depends = libnm
	depends = networkmanager
	depends = openconnect
	depends = gtk4
	depends = libadwaita
	depends = libsecret
	depends = python-gobject
	depends = python-dbus
	depends = python-keyring
	depends = python-pyotp
	depends = python-playwright
	optdepends = gnome-control-center: configure the VPN connection from GNOME Settings
	optdepends = gnome-keyring: org.freedesktop.secrets provider for credential storage
	provides = networkmanager-ms-sso
	conflicts = networkmanager-ms-sso
	source = gnome-sso-vpn-plugin::git+https://github.com/FHNW-Security-Lab/gnome-sso-vpn-plugin.git
	sha256sums = SKIP

pkgname = networkmanager-ms-sso-git
